<app-newheader></app-newheader>
<div class="container prod-container mt-3 cart-table" *ngIf="getCartDetails.length != 0">
  <div class="cart-product">
    <div class="table-responsive" *ngIf="getCartDetails">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr. No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Image</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getCartDetails; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td><img style="width: 120px;" src="./assets/images/{{item.image}}" alt=""></td>
            <td style="width: 25%;">{{item.description}}</td>
            <td style="width: 12%;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> {{item.price}}</td>
            <td>
              <div class="cart-counter">
                <button type="button" class="btn count-btn" (click)="dec(item.id, item.quantity)">-</button>
                <p>{{item.quantity}}</p>
                <button type="button" class="btn count-btn" (click)="inc(item.id, item.quantity)">+</button>
              </div>
            </td>
            <td style="width: 12%;"> <span><i class="fa fa-inr" aria-hidden="true"></i></span> {{item.quantity * item.price}}</td>
            <td><button class="btn btn-danger" (click)="singleDelete(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grand-total" *ngIf="getCartDetails.length != 0">
    <button class="back-btn btn btn-primary" routerLink="/home">Back</button>
    <p class="mb-0"><strong>Grand Total: <span><i class="fa fa-inr" aria-hidden="true"></i></span>  {{total}}</strong></p>
    <button class="btn btn-danger" (click)="removeAll()">Remove all items</button>
  </div>
</div>

<!-- when cart is empty -->
<ng-container class="prod-container" *ngIf="getCartDetails.length == 0">
  <div class="container">
    <div class="card cart-card">
      <h5 class="card-title">My Cart</h5>
      <div class="center">
        <img src="./assets/images/empty-cart.png" alt="emptycart" class="empty-cart-img">
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button class="btn btn-primary" routerLink="/home">Shop Now</button>
      </div>
    </div>
  </div>
</ng-container>

<app-footer></app-footer>
