<app-newheader></app-newheader>
<!-- home header ends -->
<div class="container-fluid">
  <div class="card-top">
    <ul class="card-top-ul">
      <li>
        <a (click)="filter('')">
          <img src="./assets/images/special-offers.png" class="img-fluid pr-img">
        <p>All Products</p>
        </a>
      </li>
      <li>
        <a  (click)="filter('electronics')">
          <img src="./assets/images/Electronic.png" class="img-fluid pr-img">
        <p>Electronics</p>
      </a>
      </li>
      <li>
        <a (click)="filter('jewelery')">
          <img src="./assets/images/jewellary.jpg" class="img-fluid pr-img">
        <p>jewelery</p>
      </a>
      </li>
      <li>
        <a (click)="filter('fashion')">
          <img src="./assets/images/cloths.png" class="img-fluid pr-img">
        <p>Fashion</p>
      </a>
      </li>
    </ul>
  </div>
</div>
<!-- products filter category -->
<div class="container prod-container mt-4">
  <div class="row">
    <ng-container class="mb-4" *ngFor="let prod of filterCategory | filter: searchKey: 'title'; let i = index">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="prod card">
        <!-- <img src="./assets/images/{{prod.image}}" class="item-img" routerLink="/viewdetails/{{prod.id}}"> -->
        <img src="{{prod.image}}" class="item-img" routerLink="/viewdetails/{{prod.id}}">
        <h5 class="item-title">{{prod.title}}</h5>
        <p class="item-desc">{{prod.description}}</p>
        <p><strong>Price:</strong> <span class="pl-2"><i class="fa fa-inr" aria-hidden="true"></i></span> {{prod.price}}</p>
        <div class="cart-counter">
          <button type="button" class="btn count-btn" (click)="dec(prod)">-</button>
          <p>{{prod.quantity}}</p>
          <button type="button" class="btn count-btn" (click)="inc(prod)">+</button>
        </div>
        <button class="btn btn-primary mt-2" (click)="addCart(prod)">Add to cart</button>
      </div>
    </div>
   </ng-container>
    </div>
</div>

<app-footer></app-footer>
